@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <form asp-controller="LineLogin" asp-action="Index" method="post">
        <button type="submit">Line Login</button>
    </form>
</div>